.first{
    color: white;
    background-color: black;
}
.second{
    background-color: rgba(243, 240, 63, 0.973);
}
.first,
.second{
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
    font-size: 28px;
}



